In [1]:
anand={2:18,"hi":89,"hero":"doctor",65:100}
anand    # dict doesn't have any order(indexing). 

# it has only keys & values.

{2: 18, 'hi': 89, 'hero': 'doctor', 65: 100}

In [2]:
type(anand)

dict

In [15]:
anand.keys()

dict_keys([2, 'hi', 'hero', 65])

In [16]:
anand.values()

dict_values([18, 89, 'doctor', 100])

In [17]:
anand.get(2)

18

In [19]:
anand.fromkeys("hi")

{'h': None, 'i': None}

In [20]:
t1=("employees","salary")
t2={} # dictionary
t2.fromkeys(t1)

{'employees': None, 'salary': None}

In [23]:
t2["employees"]="chandu"
t2["salary"]=1200

In [24]:
t2

{'employees': 'chandu', 'salary': 1200}

In [25]:
skill={}
type(skill)

dict

In [26]:
skill["product"]=["pens","eraser","plank"]
skill["sales"]=[10000,1400,2000]
skill["profit"]=[6000,540,1500]

In [27]:
skill

{'product': ['pens', 'eraser', 'plank'],
 'sales': [10000, 1400, 2000],
 'profit': [6000, 540, 1500]}

In [28]:
import pandas

In [29]:
pandas.DataFrame(skill)

  product  sales  profit
0    pens  10000    6000
1  eraser   1400     540
2   plank   2000    1500

In [31]:
skill.keys()

dict_keys(['product', 'sales', 'profit'])

In [32]:
skill.values()

dict_values([['pens', 'eraser', 'plank'], [10000, 1400, 2000], [6000, 540, 1500]])

In [3]:
anand.keys()   # it  gives all available keys in the dictionary

dict_keys([2, 'hi', 'hero', 65])

In [4]:
anand.values()   #it gives list of values

dict_values([18, 89, 'doctor', 100])

In [5]:
anand.fromkeys("cold")

{'c': None, 'o': None, 'l': None, 'd': None}

In [6]:
anand.get(2)

18

In [7]:
anand.update

In [8]:
nazi={}

In [9]:
nazi["name"]=["sharon","nazeera"]
nazi["class"]=["java script","python"]
nazi["marks"]=[78,94]

In [10]:
nazi

{'name': ['sharon', 'nazeera'],
 'class': ['java script', 'python'],
 'marks': [78, 94]}

In [11]:
import pandas as pd 
df=pd.DataFrame(nazi)

In [12]:
df               # in data science everything we deal with table. 
           # table is a collection of keys and values.


# Technically speaking, table is a combination of Dictionary and List.

      name        class  marks
0   sharon  java script     78
1  nazeera       python     94

In [13]:
df.keys()

Index(['name', 'class', 'marks'], dtype='object')

In [14]:
df.columns

Index(['name', 'class', 'marks'], dtype='object')

In [35]:
company={}
type(company)

dict

In [39]:
company["employee"]=["haryy","jhon","ron","tony"]
company["salary"]=[40000,25000,55000,30000]
company["Work_hours"]=[8,6,7,8]

In [46]:
company

{'employee': ['haryy', 'jhon', 'ron', 'tony'],
 'salaryr': [40000, 25000, 55000, 30000],
 'Work_hours': [8, 6, 7, 8],
 'salary': [40000, 25000, 55000, 30000]}

In [40]:
import pandas
pandas.DataFrame(company)

  employee  salaryr  Work_hours  salary
0    haryy    40000           8   40000
1     jhon    25000           6   25000
2      ron    55000           7   55000
3     tony    30000           8   30000

In [42]:
company.keys()

dict_keys(['employee', 'salaryr', 'Work_hours', 'salary'])

In [43]:
company.values()

dict_values([['haryy', 'jhon', 'ron', 'tony'], [40000, 25000, 55000, 30000], [8, 6, 7, 8], [40000, 25000, 55000, 30000]])

In [45]:
company.items()

dict_items([('employee', ['haryy', 'jhon', 'ron', 'tony']), ('salaryr', [40000, 25000, 55000, 30000]), ('Work_hours', [8, 6, 7, 8]), ('salary', [40000, 25000, 55000, 30000])])