In [1]:
anand={2:18,"hi":89,"hero":"doctor",65:100}
anand    # dict doesn't have any order(indexing). 

# it has only keys & values.

{2: 18, 'hi': 89, 'hero': 'doctor', 65: 100}

In [2]:
type(anand)

dict

In [3]:
anand.keys()  # it gives the "list of keys"

dict_keys([2, 'hi', 'hero', 65])

In [4]:
anand.values() #it gives "list of values"

dict_values([18, 89, 'doctor', 100])

In [5]:
anand.get(2)  # it gives the value of that key, 
# in this case key is "2" and its value is "18"

18

In [6]:
anand.fromkeys("hi")  # takes input and creates keys with "None" values.
# here, it converted "hi" into 2 keys with value as None.

{'h': None, 'i': None}

In [7]:
t1=("employees","salary")  # we declared a variable with tuple data.
t2={} # dictionary  # we created empty "dictionary"
t2.fromkeys(t1)     # now we are taking (t1)tuple-data as keys in the (t2)dictionary

{'employees': None, 'salary': None}

In [8]:
t2["employees"]="chandu"  # we assigning values to the keys. aka "item assignement" in dictionary
t2["salary"]=1200

In [9]:
t2

{'employees': 'chandu', 'salary': 1200}

In [10]:
skill={}  # we are creating another empty dictionary
type(skill)

dict

In [11]:
# we are assigning multile values to the "each keys"
# we choose list data type for multiple values assignment, becoz we wants to edit them if needed
# otherwise you can choose "tuple data type" if you don't wants to change values in the future
skill["product"]=["pens","eraser","plank"] 
skill["sales"]=[10000,1400,2000]
skill["profit"]=[6000,540,1500]

In [12]:
skill   # as you can see below dictionary is collection of "keys" and "values"
# But there is a problem: below dictionary is not looking userfriendly or super convenient

{'product': ['pens', 'eraser', 'plank'],
 'sales': [10000, 1400, 2000],
 'profit': [6000, 540, 1500]}

In [13]:
import pandas  # we imported pandas to make the data easy to access & interact

In [14]:
pandas.DataFrame(skill) # we craeted dataframe using pandas for accessing the data in "table format"
# table is nothing but, combination of "Dictionary" and "List"

  product  sales  profit
0    pens  10000    6000
1  eraser   1400     540
2   plank   2000    1500

In [15]:
skill.keys()  # it  gives all available keys in the dictionary

dict_keys(['product', 'sales', 'profit'])

In [16]:
skill.values()  #it gives list of values

dict_values([['pens', 'eraser', 'plank'], [10000, 1400, 2000], [6000, 540, 1500]])

In [17]:
anand.keys()

dict_keys([2, 'hi', 'hero', 65])

In [18]:
anand.values()

dict_values([18, 89, 'doctor', 100])

In [19]:
anand.fromkeys("cold")

{'c': None, 'o': None, 'l': None, 'd': None}

In [20]:
anand.get(2)

18

In [38]:
anand.update({"cool":45}) # it adds the new given data in the end of the original data

In [39]:
anand

{2: 18, 'hi': 89, 'hero': 'doctor', 65: 100, 'cool': 45}