# List data type

Mutable & Ordered data type

In [59]:
core=[2,90,9.87,2,5,6,80,6]
core[3]  # it gives(slicing) 3rd position in the data

2

In [60]:
core[2:5] 
# it gives positions start from 2 to 4, becoz python ignores last position.
# in this case 5 is ignored.

[9.87, 2, 5]

In [61]:
core[1:]
# it gives positions from 1 to till the end.

[90, 9.87, 2, 5, 6, 80, 6]

In [62]:
core[:-1]
# it gives from the start to -2 position, 
# as last position got ignored, in this case -1 got ignored.

[2, 90, 9.87, 2, 5, 6, 80]

In [63]:
core[: :-1] 
# 1st semi-colun before & after emptyness refers to complete data, without lossing any positions. 
# 2nd semi-colun is for adding arguments. 
# we passed "-1", it means printing should start from -1 position.

[6, 80, 6, 5, 2, 9.87, 90, 2]

## Concatination & Repetition

In [64]:
click=[4,89,22,38,6.94]
core+click         # it combined core & click

[2, 90, 9.87, 2, 5, 6, 80, 6, 4, 89, 22, 38, 6.94]

In [65]:
core*3  # it repeats the data in 3 times

[2,
 90,
 9.87,
 2,
 5,
 6,
 80,
 6,
 2,
 90,
 9.87,
 2,
 5,
 6,
 80,
 6,
 2,
 90,
 9.87,
 2,
 5,
 6,
 80,
 6]

## Method

In [66]:
core.count(2) # it counts, how many times 2 exists in the data

2

In [67]:
core.index(80) # it gives the position of 80 in the data

6

In [68]:
core.append(300) # it adds given value in the last position.

In [69]:
core

[2, 90, 9.87, 2, 5, 6, 80, 6, 300]

In [70]:
core.insert(2,51) 
# it inserts the value whenver position we specifies. 
# inside brackets 1st element (2) is the posotion we wants to add the value 
# 51 is the value we wants insert in the data

In [71]:
core

[2, 90, 51, 9.87, 2, 5, 6, 80, 6, 300]

In [72]:
mall=[23,90,76,36,6,72,10,6]
mall

[23, 90, 76, 36, 6, 72, 10, 6]

In [73]:
mall.remove(6) # it removes the 1st occurence of given value (6) 
#in our case it removed 1st 6.

In [74]:
mall

[23, 90, 76, 36, 72, 10, 6]

In [75]:
# if we run "mall.remove(6)" again & again it removes all available 6 in the data,
# if 6 no longer exists in the data it will show error sating 6 doesnt exists in the data.

In [76]:
mall.remove(6) # here iam running it again to check wheather it shows error after deleting all 6 values
mall  
# okk, we can trust python, because it shown error after we asked to delete 6, even though it no-longer exists.

[23, 90, 76, 36, 72, 10]

In [77]:
mall

[23, 90, 76, 36, 72, 10]

In [78]:
mall.pop(1) # it removes the value in the specified (1st) posistion.

90

In [79]:
mall  # we can see 90 is no-longer exists in the data.

[23, 76, 36, 72, 10]

In [80]:
mall.clear() # it removes all the data in the list

In [81]:
mall  # now it becomes empty, as we cleared everything.

[]

In [89]:
core   # original order of this list

[2, 90, 51, 9.87, 2, 5, 6, 80, 6, 300]

In [94]:
core.reverse()  # it reverses the original list

In [95]:
core   # here is the reverse order of the list.

[300, 6, 80, 6, 5, 2, 9.87, 51, 90, 2]

In [98]:
core.sort()  # it gives assending order

In [99]:
core  # assending order of the list

[2, 2, 5, 6, 6, 9.87, 51, 80, 90, 300]

In [102]:
core.sort(reverse=True)   # it gives Dissending Order of the list 
# Technically speaking, "sort" gives only Assending order,
# but in arguments we passed "reverse=True", it means it gives the reverse of assending order, 
# which is Dissending Order.

In [103]:
core   # dissending order of the list.

[300, 90, 80, 51, 9.87, 6, 6, 5, 2, 2]

## Function

In [82]:
len(core)  # it gives total length of the data

10

In [83]:
type(core) # it checks the type of the data

list

In [84]:
bold=(23,78,90,27,65,"hii")   
type(bold)
# its tuple data type, as we know we can't change it.
# but we determined to do so,  we can convert tuple into list for changing the data.

tuple

In [85]:
duck=list(bold) # we created new variable, assigned list version of "bold" as its data
duck  # by calling "duck" variable, we can see list version.

[23, 78, 90, 27, 65, 'hii']

In [86]:
duck[5]="cool"  # we changed 5th position in duck as "cool"
# previously "hii" (in 5th position) becomes "cool" now

duck

[23, 78, 90, 27, 65, 'cool']

In [87]:
bold

(23, 78, 90, 27, 65, 'hii')

In [88]:
core

[2, 90, 51, 9.87, 2, 5, 6, 80, 6, 300]

## List Comprehension

Used for optiming the code.

In [107]:
for i in range(1,11):    
    print(i)

# this for only orientation class we will digdeep in 'for loops' class

1
2
3
4
5
6
7
8
9
10

## 2D & 3D List

In [108]:
bell=[2,90,35,24,38]   # 1D list

In [109]:
nord=[[2,90,12,30],[67,83,27,54]] #2D list

In [113]:
vest=[[[2,3,7,52],[65,23,83,19]],[[63,35,97,14],[5.9,94,43]]]  #3D List

In [115]:
vest[1] # inside 3D list we got 2nd bolck, which is in 1st position

[[63, 35, 97, 14], [5.9, 94, 43]]

In [116]:
vest[1][1] # in-side 2nd bolck, we entered to 2nd part

[5.9, 94, 43]

In [117]:
vest[1][1][0] # in 2nd block, 2nd part, we reached 0th position

5.9

In [118]:
vest[1][1][0]=6  # we changed the value of 5.9 to 6

In [119]:
vest  # we can see our changes in last list oth position.

[[[2, 3, 7, 52], [65, 23, 83, 19]], [[63, 35, 97, 14], [6, 94, 43]]]